.alert-info {
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.04) !important;
    border-radius: 8px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    color: #535353 !important;
    font-weight: 300 !important;
    letter-spacing: 0.00538em !important;
}
