.badge {
    // background-image: linear-gradient(45deg, #D29A3E 0%, #DBAF62 51%, #DDBD83 100%) !important;
    // padding: 0.1875rem 0.4375rem;
    // padding: 0.2875rem 0.8375rem;
    padding: 0.22rem 0.8375rem;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    // line-height: 11px;
    font-size: 11px;
    background-color: #198754;
    cursor: default;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    display: inline;

    &.margin {
        margin-left: 8px;
    }
}
