.badge {
    padding: 0.22rem 0.8375rem;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    background-color: #198754;
    cursor: default;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    display: inline;

    &.margin {
        margin-left: 8px;
    }
}
