.badge {
    padding: 0.22rem 0.8375rem;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline;

    &.success {
        color: #12633e;
        background-color: #d1e7dd;
    }

    &.warning {
        color: #997404;
        background-color: #f3e8d3;
    }

    &.margin {
        margin-left: 8px;
    }
}
