.MuiBreadcrumbs-root {
    display: flex;
    justify-content: start;
    padding-bottom: 1rem;

    .MuiBreadcrumbs-li {
        a {
            text-decoration: none !important;
            // font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
            font-family: "Source Sans Pro", sans-serif !important;
            font-size: 0.85rem !important;
            font-weight: 300 !important;
            color: rgba(0, 0, 0, 0.55) !important;
            display: flex;
            align-items: center;

            &:hover {
                color: rgba(0, 0, 0, 0.75) !important;
            }
        }
    }

    .MuiTypography-root {
        color: rgba(0, 0, 0, 0.75) !important;
        // font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
        font-family: "Source Sans Pro", sans-serif !important;
        font-size: 0.85rem !important;
        font-weight: 300 !important;
    }
}

.MuiBreadcrumbs-separator {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.breadcrumb {
    &.nav {
        @media (max-width: 991.98px) {
            display: none;
        }
    }
}
