.link-contained {
    a.MuiButton-root {
        background-color: #a87305;
        color: rgba(0, 0, 0, 0.87);
        color: rgba(255, 255, 255, 0.95);
        border-color: rgba(255, 255, 255, 0.95);
        border-radius: 4px;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        }
    }
}

.link-contained-more {
    a.MuiButton-root {
        background-color: #1976d2;
        color: rgba(255, 255, 255, 0.95);
        box-shadow: none;
        border-radius: 180px !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        background-image: linear-gradient(45deg, #D29A3E 0%, #DBAF62  51%, #DDBD83  100%);

        &:hover {
            background-image: linear-gradient(45deg, #c88e2f 0%, #d6a44d  51%, #d8b26f  100%);
            box-shadow: none;
        }
    }
}

.link-outlined-contact {
    a.MuiButton-root {
        transition: none;
        font-size: 14px;
        padding: 2px 10px;
        border-radius: 3px;
        box-shadow: none;

        &.light {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.95);
            border: 1px solid rgba(255, 255, 255, 0.95);
        }

        &.dark {
            color: #505050;
            border: 1px solid #505050;
        }
    }
}

.link-outlined {
    a.MuiButton-root {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.95);
        border-color: rgba(255, 255, 255, 0.95);
        border-radius: 4px;
    }
}

.link-outlined-card {
    a.MuiButton-root {
        background-color: transparent;
        color: #d6a44d;
        border-color: none;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 400;

        .css-155nyw6-MuiButton-endIcon {
            margin-left: 0;
        }
    }
}

.link-contained-submit {
    padding-top: 30px;

    button.MuiButton-root {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.95);
        box-shadow: none;
        border-radius: 180px !important;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        background-image: linear-gradient(45deg, #D29A3E 0%, #DBAF62  51%, #DDBD83  100%);

        &:hover {
            background-image: linear-gradient(45deg, #c88e2f 0%, #d6a44d  51%, #d8b26f  100%);
            box-shadow: none;
        }

        @media (max-width: 539.98px) {
            width: 100% !important;
        }
    }
}
