.card-services {
    .card-content {
        
        .card-title {
            // margin: 0;
            margin: 0px 0px 0.35em;
            letter-spacing: 0.00938em;
            // line-height: 1.1;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            // font-size: 1.05rem;
            font-size: 1.25rem;
            color: rgba(0, 0, 0, 0.7);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-description {
            font-size: .855em;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            color: #606060;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 300;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            // margin: 0px;
            // font-family: Roboto, Helvetica, Arial, sans-serif;
            // font-weight: 400;
            // font-size: 0.875rem;
            // line-height: 1.43;
            // letter-spacing: 0.01071em;
            // color: rgba(0, 0, 0, 0.6);
        }

    }

    .card-actions {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        padding: 0 16px 8px 16px;

        .card-link {
            padding: 0;
            line-height: 1;
            justify-content: flex-start;
            background-color: transparent;
            color: #d6a44d;
            border-color: none;
            // font-size: 11px;
            font-size: 0.8125rem;
            font-weight: 400;
            width: fit-content;

            span span {
                background-color: transparent !important;
            }
        }
    }
}

.card-services-proposed {
    .card-content {
        display: grid;
        align-content: space-around;
        justify-content: start;
        padding: 0 0 0 10px;

        &:last-child {
            padding-bottom: 0;
        }

        .card-title {
            margin: 0;
            letter-spacing: 0.00938em;
            line-height: 1.1;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 1.05rem;
            color: rgba(0, 0, 0, 0.7);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-description {
            font-size: .855em;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            color: #606060;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 300;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-link {
            padding: 0;
            line-height: 1;
            justify-content: flex-start;
            background-color: transparent;
            color: #d6a44d;
            border-color: none;
            font-size: 11px;
            font-weight: 400;
            width: fit-content;

            span span {
                background-color: transparent !important;
            }
        }
    }
}
