.heading-view {
    margin: 0 !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 0.7) !important;
    // font-family: Lato, sans-serif !important;
    font-size: 30px !important;
    line-height: 1.208em !important;
    letter-spacing: .045em !important;
    // text-transform: uppercase  !important;
    // font-weight: 500 !important;

    sub {
        font-size: 19px;
        line-height: 1.208em;
    }

    @media (max-width: 991.98px) {
        font-size: 24px !important;
    }
}
