.heading-view {
    margin: 0 !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 0.6) !important;
    font-family: Lato, sans-serif !important;
    font-size: 40px !important;
    line-height: 1.208em !important;
    letter-spacing: .045em !important;
    text-transform: uppercase  !important;
    font-weight: 400 !important;
}
