.form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0.3rem;
    color: rgba(0, 0, 0, 0.7);

}

.form-control {
    border-radius: 8px;
    border: 1px solid rgba(224, 224, 224, 0.6);

    &:focus {
        box-shadow: none;
        border: 1px solid lighten(#d29a3e, 10%);
    }
}

textarea {
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
