.form-label {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: rgba(0, 0, 0, 0.6);
    // color: #535353;
}

.form-control {
    border-radius: 8px;
    border: 1px solid rgba(224, 224, 224, 0.6);

    &:focus {
        box-shadow: none;
        border: 1px solid lighten(#d29a3e, 10%);
    }
}

textarea {
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.required {
    // color: rgba(220, 53, 69, .85);
    color: #d09636;
}

.error {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 0.875rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01071em;
    // color: rgba(220, 53, 69, .85);
    color: #d09636;
    line-height: 1.5;
}

.form-info {
    @extend .error;
    color: rgba(0, 0, 0, 0.6),
}
