.top-nav {
    background-color: #202124;

    .nav-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;

        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .contact-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                .link {
                    text-decoration: none;

                    .link-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 6px;

                        .link-text {
                            font-size: 11px;
                            font-weight: 400;
                            font-family: Google Sans Text, Arial, Helvetica, sans-serif;
                            letter-spacing: 0.00938em;
                            line-height: 1.5;
                            color: #fff;
                            margin: 0;
                        }
                    }
                }
            }

            .media-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
            }
        }
    }

    @media (max-width: 991.98px) {
        display: none;
    }
}












.MuiDrawer-paper {
    background-color: #fff !important;

    .logo {
        padding-top: 12px;
        padding-bottom: 12px;
        z-index: 1200;
        box-shadow: 1px 2px 3px rgb(0 0 0 / 1%);

        .navbar-brand {
            display: flex;
            align-items: center;
            gap: 7px;
            padding-left: 16px;

            // .brand-logo {
            //     height: 51px;
            // }

            .brand-text {
                color: transparent;
                font: 400 14px/20px Google Sans Text,Arial,Helvetica,sans-serif;
                font-size: 8.925px;
                letter-spacing: .3px;
                font-weight: 500;
                white-space: nowrap;
                text-transform: uppercase;
                line-height: 1.4;
                background-image: linear-gradient(90deg, #d09636 0%, #d9ab5a 51%, #dbb97b 100%);
                background-clip: text;
            }
        }
    }

    .menu {
        background-color: #f5f5f5;
    }

    .media {
        background-color: #fff;
    }

    svg {
        filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(327deg) brightness(114%) contrast(114%);
        opacity: 0.75;
        user-select: none;

        // &:hover {
        //     opacity: 0.7;
        //     cursor: pointer;
        // }
    }

    .nav-link {
        flex: 1 1 auto;
        min-width: 0px;
        padding: 0;
        line-height: 1.5;
        display: block;
        text-decoration: none;

        .list-item-text {
            span {
                // font-weight: 400;
                color: rgba(0, 0, 0, 0.6);
                letter-spacing: 0.00938em;
                // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-family: "Source Sans Pro", sans-serif;
                // font-size: 1rem;
                font-size: 0.95rem !important;
            }

        }

        &:hover {
            .list-item-text {
                span {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }

        &.active {
            .list-item-text {
                span {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    .css-9mgopn-MuiDivider-root {
        border-color: rgba(224, 224, 224, 0.5);
        opacity: 1;
    }
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #fff !important;
}









nav.navbar {
    background-color: #fff;
    // box-shadow: 1px 2px 6px rgb(0 0 0 / 4%);
    box-shadow: 1px 2px 3px rgb(0 0 0 / 1%);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
    // border-bottom: 1px solid rgba(224, 224, 224, 0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    // border-bottom: 1px solid rgba(0, 0, 0, .1);

    // @media (min-width: 991.98px) {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     z-index: 1030;
    // }

    // background-image: url("../../assets/old-wooden-floorboard-textured-background\ —\ kopia.jpg");


    .container {
        padding-top: 0px;
        padding-bottom: 0px;

        &.container-fluid {


            .navbar-brand {
                display: flex;
                align-items: center;
                gap: 7px;
                padding: 0;

                // .brand-logo {
                //     height: 60px;
                // }

                .brand-text {
                    color: transparent;
                    font: 400 14px/20px Google Sans Text,Arial,Helvetica,sans-serif;
                    font-size: 10.5px;
                    letter-spacing: .3px;
                    font-weight: 500;
                    white-space: nowrap;
                    text-transform: uppercase;
                    line-height: 1.4;
                    background-image: linear-gradient(90deg, #d09636 0%, #d9ab5a 51%, #dbb97b 100%);
                    background-clip: text;

                    @media (max-width: 991.98px) {
                        font-size: 8.925px;
                    }
                }

                // @media (max-width: 991.98px) {
                //     .brand-logo {
                //         height: 51px;
                //     }

                //     .brand-text {
                //         font-size: 8.925px;
                //     }
                // }

                // font-weight: 500;
                // letter-spacing: 1px;
                // color: rgba(255,255,255,.55);

                // &:hover {
                //     color: rgba(255,255,255,.75);
                // }

                // &.active {
                //     color: #fff;
                //     color: rgba(255,255,255,.95);
                // }
            }

            .navbar-toggler {
                border: none;
                padding: 0.25rem 0;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .offcanvas {
            .offcanvas-body {
                .navbar-nav {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-grow: 1;
                    gap: 1rem;

                    .nav-item {
                        .nav-link {
                            line-height: 1.5;
                            letter-spacing: 0.00938em;
                            color: rgba(0, 0, 0, 0.6);
                            font-size: 0.8rem;
                            font-family: "Raleway", sans-serif;
                            // text-transform: uppercase;
                            font-weight: 500;
                            padding-left: 0;
                            padding-right: 0;


                            // text-decoration: none !important;
                            font-family: "Source Sans Pro", sans-serif;
                            font-size: 0.9rem !important;
                            // font-weight: 300 !important;
                            // color: rgba(0, 0, 0, 0.55) !important;
                            // display: flex;
                            // align-items: center;

                            &:hover {
                                // color: #000;
                                color: rgba(0, 0, 0, 0.7);
                            }

                            &.active {
                                // color: #000;
                                color: rgba(0, 0, 0, 0.8);
                                // color: #d29a3e;

                                // color: transparent;
                                // background-image: linear-gradient(90deg, #d09636 0%, #d9ab5a 51%, #dbb97b 100%);
                                // -webkit-background-clip: text;
                                // background-clip: text;

                                // font-weight: 500;
                            }
                        }
                    }

                }
            }

            &.show {
                .offcanvas-body {
                    .nav-link {
                        color: rgba(0,0,0,.55);

                        &.active {
                            color: rgba(0,0,0,.9);
                        }
                    }
                }
            }

            .offcanvas-header {
                text-transform: uppercase;
                // color: #fff;
            }

            .offcanvas-body {
                .nav-link {
                    // text-transform: uppercase;
                }
            }

        }
    }
}
