.view-wrapper {
    .view-body {
        .body-wrapper {
            &.clinic {
                .clinic-description-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                    @media (max-width: 991.98px) {
                        grid-template-columns: 1fr;
                        gap: 0;
                    }
                }

                .clinic-gallery-wrapper {
                    margin-top: 24px;
                    margin-bottom: 34px;
                }

                .clinic-services-wrapper {
                    .services-item-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;

                        @media (max-width: 991.98px) {
                            gap: 0;
                            grid-template-columns: 1fr;
                        }
                    }
                }

                .clinic-technology-wrapper {
                    .technology-item-wrapper {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 20px;
                    }
                }

                .image-list {
                    .lazy-load-image {
                        object-fit: cover;
                        filter: none;
                        cursor: pointer;
                        transition: filter ease 0.5s !important;

                        &:hover {
                            filter: brightness(0.9) !important;
                        }
                    }

                    .clinic1 {
                        border-top-left-radius: 8px;
                    }

                    .clinic2 {
                        border-top-right-radius: 8px;
                    }

                    .clinic3 {
                        border-bottom-left-radius: 8px;
                    }

                    .clinic4 {
                        border-bottom-right-radius: 8px;
                    }

                    @media (max-width: 539.98px) {
                        grid-template-columns: repeat(2, 1fr) !important;

                        .clinic1 {
                            border-top-right-radius: 8px;
                        }

                        .clinic2 {
                            border-top-right-radius: 0;
                        }

                        .clinic3 {
                            border-bottom-left-radius: 0;
                        }

                        .clinic4 {
                            border-bottom-left-radius: 8px;
                        }
                    }
                }

                .header {
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 1.25rem;
                    line-height: 1.5;
                    letter-spacing: 0.00938em;
                    text-align: left;
                    margin-bottom: 0.35em;

                }

                .paragraph {
                    font-size: 15.5px;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    color: #535353;
                    font-weight: 300;
                    margin-bottom: 10px;
                    letter-spacing: 0.00538em;
                    line-height: 1.6;
                }

                .list-item-avatar {
                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }

                .list-item-text {
                    span {
                        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                        font-weight: 300;
                        font-size: 15.5px;
                        letter-spacing: 0.00538em;
                    }
                }
            }
        }
    }
}
