.view-wrapper {
    .view-header {
        // &.services-all {
        //     background: url('../../assets/services/services1.jpg') 100% 20% no-repeat;
        //     background-size: cover;
        //     position: relative;
        // }

        // &.services-dermatology {
        //     background: url('../../assets/services/services2.jpg') 100% 20% no-repeat;
        //     background-size: cover;
        //     position: relative;
        // }

        // &.services-aesthetic-medicine {
        //     background: url('../../assets/services/services3.jpg') 100% 20% no-repeat;
        //     background-size: cover;
        //     position: relative;
        // }

        // background-color: #f8f8f8;
        // background: rgba(245,245,247,.7);
        // box-shadow: 1px 2px 6px rgb(0 0 0 / 4%);

        .header-wrapper {
            // display: block;
            // justify-content: space-between;
            padding-top: 1rem;
            padding-bottom: 0;
        }
    }

    .view-body {
        .body-wrapper {
            padding-top: 2rem;

            &.services {
                display: grid;
                gap: 1.5rem;
                grid-template-columns: repeat(3, 1fr);

                .service-description {
                    grid-column: span 2;

                    .header {
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                        font-weight: 500;
                        font-size: 25px;
                        color: rgba(0, 0, 0, 0.7);
                        margin-bottom: 0.35em;
                        line-height: 1.334;
                    }

                    .paragraph {
                        font-family: Roboto, Helvetica, Arial, sans-serif;
                        font-weight: 300;
                    }

                    .list-item-text {
                        span {
                            font-family: Roboto, Helvetica, Arial, sans-serif;
                            font-weight: 300;
                            font-size: 16px;
                        }
                    }
                }

                .proposed-services {
                    grid-column: span 1;
                }
            }
        }
    }
}