.view-wrapper {
    .view-body {
        .body-wrapper {
            &.services {
                display: grid;
                gap: 1.5rem;
                grid-template-columns: repeat(3, 1fr);
                // overflow: hidden;

                .service-description {
                    grid-column: span 2;

                    @media (max-width: 991.98px) {
                        grid-column: span 3;
                    }

                    .header {
                        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                        font-weight: 400;
                        color: #d29a3e;
                        font-size: 1.25rem;
                        line-height: 1.5;
                        letter-spacing: 0.00938em;
                        text-align: left;
                        margin-bottom: 0.35em;

                        &.alternative {
                            color: rgba(0, 0, 0, 0.7);
                        }
                    }

                    .paragraph {
                        font-size: 15.5px;
                        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                        color: #535353;
                        font-weight: 300;
                        margin-bottom: 10px;
                        letter-spacing: 0.00538em;
                        line-height: 1.6;

                        &.heading {
                            margin-top: 16px;
                        }
                    }

                    .list-item-avatar {
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    .list-item-text {
                        span {
                            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                            font-weight: 300;
                            font-size: 15.5px;
                            letter-spacing: 0.00538em;
                            color: #535353;
                        }
                    }

                    .table-header {
                        font-size: 13.5px;
                        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                        color: rgba(0, 0, 0, 0.75);
                        font-weight: 400;
                        margin-bottom: 5px;
                        letter-spacing: 0.00538em;
                        line-height: 1.6;
                    }

                    .table-container {
                        border-radius: 8px;
                        box-shadow: 1px 2px 6px rgb(0 0 0 / 4%);
                        box-shadow: none;
                        margin-bottom: 15px;
                    }

                    .accordian {
                        box-shadow: 1px 2px 6px rgb(0 0 0 / 4%);
                    }

                }

                .proposed-services {
                    grid-column: span 1;

                    .header-wrapper {
                        .header {
                            font-size: 15.5px;
                            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                            color: #535353;
                            font-weight: 400;
                            margin-bottom: 15px;
                            letter-spacing: 0.00538em;
                            line-height: 1.6;
                        }
                    }

                    @media (max-width: 991.98px) {
                        display: none;
                    }
                }
            }
        }
    }
}
