.view-wrapper {
    .view-body {
        .body-wrapper {
            &.technology {
                display: grid;
                gap: 1.5rem;
                grid-template-columns: repeat(3, 1fr);

                .technology-description {
                    grid-column: span 2;

                    @media (max-width: 991.98px) {
                        grid-column: span 3;
                    }

                    .header {
                        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.7);
                        font-size: 1.25rem;
                        line-height: 1.5;
                        letter-spacing: 0.00938em;
                        text-align: left;
                        margin-bottom: 0.35em;
                    }

                    .paragraph {
                        font-size: 15.5px;
                        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                        color: #535353;
                        font-weight: 300;
                        margin-bottom: 10px;
                        letter-spacing: 0.00538em;
                        line-height: 1.6;

                        &.heading {
                            margin-top: 16px;
                        }
                    }

                    .list-item-avatar {
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    .list-item-text {
                        span {
                            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                            font-weight: 300;
                            font-size: 15.5px;
                            letter-spacing: 0.00538em;
                            color: #535353;
                        }
                    }
                }

                .proposed-technology {
                    grid-column: span 1;

                    .header-wrapper {
                        .header {
                            font-size: 15.5px;
                            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
                            color: #535353;
                            font-weight: 400;
                            margin-bottom: 15px;
                            letter-spacing: 0.00538em;
                            line-height: 1.6;
                        }
                    }

                    @media (max-width: 991.98px) {
                        display: none;
                    }
                }
            }
        }
    }
}
